nav {
  font-family: monospace;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  position: relative;
  float: left;
  border-right: 1px solid #bbb;
}

nav li:last-child {
  display: none;
}

nav li a {
  font-size: 15px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav .active {
  background-color: #4CAF50;
}
body {
  height: 100%;
}

@media screen and (max-width: 600px) {
  nav li:nth-last-child(2) {
    display: none;
  }
  nav li:nth-last-child(1) {
    float: right;
    display: block;
  }
}

#console {
  display: none;
}

@media screen and (max-width: 800px) {
  #console {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0px;
  }

  #console .btn {
    border: 1px solid black;
  }

  #console .arrow {
    width: 45px;
    height: 45px;
    padding: 10px;
    background-color: rgba(135, 135, 135, 0.80);
    margin-right: 5px;
    float: left;
  }

  #console .jump {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgba(250, 51, 51, 0.80);
    float: right;
  }
}

#screen {
/*  높이는 항상 전부를 보여주어야 한다. 폭은 창의 크기에 따라 없어져도 된다 */
  position: absolute;
  background: url('image/background.gif');
  background-repeat: repeat-x;
  background-size: auto 100%; /* 넓이 높이 */
  height: 100%; /*div의 높이*/
  width:100%; /*div의 폭*/
  top: 0px;
  left: 0px;
}

#mario {
  position: absolute;
  width: 35px;
  height: 40px;
  bottom: 100px;
  left: 0px;
}
#mario.jumpR {
  background: url('image/m_move.gif') 0 0;
}
#mario.jumpL {
  background: url('image/m_move.gif') -40px 0;
}
#mario.stopR {
  background: url('image/m_move.gif') -80px 0;
}
#mario.runR1 {
  background: url('image/m_move.gif') -120px 0;
}
#mario.runR2 {
  background: url('image/m_move.gif') -160px 0;
}
#mario.stopL{
  background: url('image/m_move.gif') -200px 0;
}
#mario.runL1 {
  background: url('image/m_move.gif') -240px 0;
}
#mario.runL2 {
  background: url('image/m_move.gif') -280px 0;
}

.bars {
  background: url('image/block.gif');
  position: absolute;
  border: 1px solid black;
  width: 100px;
  height: 30px;
  background-color: rgb(75, 33, 19);
}
