nav {
  font-family: monospace;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  position: relative;
  float: left;
  border-right: 1px solid #bbb;
}

nav li:last-child {
  display: none;
}

nav li a {
  font-size: 15px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

nav .active {
  background-color: #4CAF50;
}
body {
  height: 100%;
}

@media screen and (max-width: 600px) {
  nav li:nth-last-child(2) {
    display: none;
  }
  nav li:nth-last-child(1) {
    float: right;
    display: block;
  }
}

#screen {
/*  높이는 항상 전부를 보여주어야 한다. 폭은 창의 크기에 따라 없어져도 된다 */
  position: absolute;
  background-image: url('image/background.gif');
  background-repeat: repeat-x;
  background-size: auto 100%; /* 넓이 높이 */
  height: 100%; /*div의 높이*/
  width:100%; /*div의 폭*/
  top: 0px;
  left: 0px;
}

#mario {
  position: absolute;
  width: 35px;
  height: 40px;
  bottom: 100px;
  left: 0px;
}
#mario.stopR {
  background-image: url('image/m_stopR.gif');
  background-repeat: no-repeat;
}
#mario.stopL{
  background-image: url('image/m_stopL.gif');
  background-repeat: no-repeat;
}
#mario.jumpR {
  background-image: url('image/m_jumpR.gif');
  background-repeat: no-repeat;
}
#mario.jumpL {
  background-image: url('image/m_jumpL.gif');
  background-repeat: no-repeat;
}
#mario.runR1 {
  background-image: url('image/m_runR1.gif');
  background-repeat: no-repeat;
}
#mario.runR2 {
  background-image: url('image/m_runR2.gif');
  background-repeat: no-repeat;
}
#mario.runL1 {
  background-image: url('image/m_runL1.gif');
  background-repeat: no-repeat;
}
#mario.runL2 {
  background-image: url('image/m_runL2.gif');
  background-repeat: no-repeat;
}

.bars {
  background-image: url('image/block.gif');
  position: absolute;
  border: 1px solid black;
  width: 100px;
  height: 30px;
  background-color: rgb(75, 33, 19);
}
